body{background-color: #white;
    font-family: Libre Baskerville;
}
card{background-color: white;}
.jumbotron-fluid{background-image: url(https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    height: 400;
    color:white;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.gallerycontainer{
    padding-left: 20%;
    padding-right: 20%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
